body {
    background-image: url(images/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    margin-top: 11%;
    min-height: 100vh;
    min-width: 70vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.task-area {
    border: 1px solid lightgray;
}

.task-tabs  {
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div {
    padding: 1em;
}

#under-line {
    background-color: pink;
    position: absolute;
    height: 4px;
    width: 60px;
    left: 0px;
    top: 54px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done {
    text-decoration: line-through;
}