@font-face {
    font-family: 'Cafe24Meongi-B-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-B-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(images/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Cafe24Meongi-B-v1.0';
    font-size: 44px;
    padding-top: 10px;
}

.task-tabs {
    font-family: 'Cafe24Meongi-B-v1.0';
}

.container {
    background-color: white;
    margin-top: 11%;
    min-height: 90vh;
    width: 86%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input-area {
    margin-bottom: 10px;
}

#task-input {
    width: 60%;
    border: 1px solid gray;
}

.task-area {
    border: 1px solid lightgray;
    border-bottom: 1px solid white;
}

.task-tabs  {
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div {
    padding: 1em;
    cursor: pointer;
}

#under-line {
    background-color: rgb(106, 126, 144);
    position: absolute;
    height: 2.5px;
    left: 0px;
    top: 40px;
    padding: 0px;
    transition: 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    /* padding: 1em; */
    border-bottom: 1px solid lightgray;
}

.task-content-area {
    display: flex;
    padding: 1em;
}

.task-button-area {
    display: flex;
}

.task-done {
    text-decoration: line-through;  
    background-color: rgb(181, 198, 217);
}

.task button {
    background-color: white; 
    border: none; 
    color: black;
}

.task-button-area > button:nth-child(2) {
    padding-right: 1em;
}

.task-button-area > button:nth-child(1) {
    padding-left: 0.8em;
}

#add-button {
    background-color: white; 
    border: none;
    color: black;   
}

.pin {
    width: 40px;
    background-image: url(/static/images/pin.png);
    background-repeat: no-repeat;
}

.pinned {
    width: 40px;
    background-image: url(/static/images/pinned.png);
    background-repeat: no-repeat;
}